doctype html
html
  head
    meta(charset='utf8')
    title!= title
    link(rel='shortcut icon' href='/assets/images/favicon-128x128.png')
    block links
    block pre-scripts
  body
    #app
    
    block post-scripts
